@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: white;
}
.imgpr{
    width: 50%;
}
.tit-dest{
    color: #F0E200;
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.apresentacao__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__text{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;;
}
.botoes{
    /* background-color: rgb(5, 5, 158); */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #F0E200;

}

.subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.imgico{
    width: 8%;
}

.botoes:hover{
    background-color: rgb(4, 0, 84);
}

.rodape{
    color: black;
    background-color: #F0E200;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}